// Colors
$black: #000000;
$white: #ffffff;
$blackish: #1e1f26;
$gray: #383a3e;
$creme: #e3d2bc;
$light-creme: #f8f8f8;
$light-brown: #8c6a5e;
$dark-brown: #735149;

// Breakpoints

$breakpoint1: 1500px;
$breakpoint2: 1300px;
