// Colors
$black: #000000;
$white: #ffffff;
$blackish: #1e1f26;
$gray: #383a3e;
$creme: #e3d2bc;
$light-creme: #f8f8f8;
$light-gray: #d3d3d3;
$light-brown: #8c6a5e;
$dark-brown: #735149;

// Standard border-radius
$border-white: 1px solid $white;
$border-lightgray: 1px solid $light-gray;

// Breakpoints
$breakpoint1: 1500px;
$breakpoint2: 1300px;
$breakpoint3: 850px;
$breakpoint4: 700px;
$breakpoint5: 650px;

$breakpoint-menu: 600px;
$breakpoint-banner-title: 700px;
