#header-section {
  @include flex-box(flex-start, stretch, row, flex);
  width: 100%;
  height: 40vh;
  background-image: url(../images/bg-header-menu.jpg);
  background-size: cover;
  background-position: 0 -250px;
  background-attachment: fixed;

  #navigation-section {
    @include flex-box(space-between, center, row, flex);
    position: fixed;
    width: 100%;
    height: 4rem;
    z-index: 10;

    a {
      padding: 0 2rem;

      h1 {
        color: $blackish;
        font-size: 3rem;
        font-weight: 500;
        text-shadow: 4px 0 0 $white;
      }
    }

    ul {
      @include flex-box(flex-start, stretch, row, flex);

      a {
        padding: 0 2rem 0 0;

        li {
          color: $blackish;
          font-size: 1.25rem;
          text-shadow: 2px 0 0 $white;
        }
      }
    }
  }

  #banner-section {
    @include flex-box(flex-end, stretch, column, flex);
    width: 100%;

    .banner-title {
      @include flex-box(center, center, column, flex);
      width: 100%;
      height: 100%;

      h1 {
        position: relative;
        left: -5rem;
        font-size: 6rem;
        font-weight: 200;
      }
    }
  }
}
