#header-section {
  @include flex-box(center, stretch, row, flex);
  width: 100%;
  height: 40vh;
  min-height: 300px;
  // background-image: url(../images/bg-header-menu.jpg);
  // background-size: cover;
  // background-position: 0 -250px;
  // background-attachment: fixed;
  @include parallax-bg(url(../images/bg-header-menu.jpg), cover, 0 -250px, fixed);

  #navigation-section {
    @include flex-box(space-between, center, row, flex);
    position: fixed;
    width: 80%;
    height: 4rem;
    z-index: 10;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    transition: all 400ms ease;

    @media screen and (max-width: $breakpoint1) {
      width: 90%;
    }

    @media screen and (max-width: $breakpoint2) {
      width: 100%;
    }

    a {
      padding: 0 2rem;

      h1 {
        color: $blackish;
        font-size: 3rem;
        font-weight: 500;
        text-shadow: 4px 0 0 $white;
      }
    }

    ul {
      @include flex-box(flex-start, stretch, row, flex);

      a {
        padding: 0 2rem 0 0;

        li {
          color: $blackish;
          font-size: 1.25rem;
        }
      }
    }
  }

  #banner-section {
    @include flex-box(flex-end, stretch, column, flex);
    width: 100%;

    .banner-title {
      @include flex-box(center, center, column, flex);
      width: 100%;
      height: 100%;

      h1 {
        position: relative;
        left: -5rem;
        font-size: 6rem;
        font-weight: 200;
      }
    }
  }
}
