// sass --watch public/resources/scss/contact.scss:public/resources/css/contact.css

// Import external SCSS files
@import "helper/variables";
@import "helper/mixins";
@import "helper/placeholders";

@import "sections/contact/header";
@import "sections/contact/footer";
@import "sections/contact/content";
// @import "sections/";
// @import "sections/";
// @import "sections/";

// Styles applied to whole document

html {
  width: 100%;
  box-sizing: border-box;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
