// sass --watch public/resources/scss/main.scss:public/resources/css/main.css

// Import external SCSS files
@import "helper/variables";
@import "helper/mixins";
@import "helper/placeholders";

@import "sections/header";
@import "sections/hook";
@import "sections/parallax";
@import "sections/instagram";
@import "sections/reviews";

// Styles applied to whole document

html {
  width: 100%;
  box-sizing: border-box;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
