// sass --watch public/resources/scss:public/resources/css

// Import external SCSS files
@import "helper/variables";
@import "helper/mixins";
@import "helper/placeholders";

@import "sections/index/header";
@import "sections/index/hook";
@import "sections/index/parallax";
@import "sections/index/instagram";
@import "sections/index/reviews";
@import "sections/index/footer";

// Styles applied to whole document

html {
  width: 100%;
  box-sizing: border-box;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
