// sass --watch public/resources/scss:public/resources/css

// Import external SCSS files
@import "helper/variables";
@import "helper/mixins";

@import "sections/index/header";
@import "sections/index/hook";
@import "sections/index/parallax";
@import "sections/index/instagram";
@import "sections/index/reviews";
@import "sections/index/footer";
@import "sections/index/modal";

// Styles applied to whole document

html {
  width: 100%;
  box-sizing: border-box;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

.inactive {
  &::before {
    content: '';
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    background-color: $gray;
  }
}

.active {
  &::before {
    content: '';
    position: absolute;
    top: 0.15rem;
    left: 0.15rem;
    width: 0.4rem;
    height: 0.4rem;
    border-radius: 50%;
    background-color: $white;
    border: 1px solid lightgray;
  }
}
