#instagram-section {
  @include flex-box(center, center, row, flex);
  width: 100%;
  height: 60vh;

  .instagram-container {
    @include flex-box(flex-start, center, row, flex);
    width: 95%;
    height: 75%;

    .instagram-posts {
      width: 60%;
      height: 100%;
      border: 1px solid lightgray;
    }

    .instagram-tekst {
      @include flex-box(center, center, column, flex);
      width: 40%;
      height: 100%;
      border: 1px solid lightgray;
      text-align: center;

      h3 {
        font-size: 5rem;
        font-weight: 100;
        padding: 0 0 1.5rem 0;
      }

      span {
        width: 90%;
        padding: 1.5rem 0 0 0;
        border-top: 1px solid lightgray;

        a {
          color: $black;
          font-weight: 600;
        }
      }
    }
  }
}
