#header-section {
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  width: 100%;
  height: 40vh;
  min-height: 300px;
  background-image: url(../images/bg-header-menu.jpg);
  background-size: cover;
  background-position: 0 -250px;
  background-attachment: fixed; }

#navigation-section {
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  position: fixed;
  width: 100%;
  height: 4rem;
  z-index: 10;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
  transition: all 400ms ease; }

.navigation-container {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  display: flex;
  width: 80%; }
  @media screen and (max-width: 1500px) {
    .navigation-container {
      width: 90%; } }
  @media screen and (max-width: 1300px) {
    .navigation-container {
      width: 100%; } }
  .navigation-container a {
    padding: 0 2rem; }
    .navigation-container a h1 {
      color: #1e1f26;
      font-size: 3rem;
      font-weight: 500;
      text-shadow: 4px 0 0 #ffffff; }
  .navigation-container ul {
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
    display: flex; }
    .navigation-container ul a {
      padding: 0 2rem 0 0; }
      .navigation-container ul a li {
        color: #1e1f26;
        font-size: 1.25rem; }

#banner-section {
  justify-content: flex-end;
  align-items: stretch;
  flex-direction: column;
  display: flex;
  width: 100%; }

.banner-title {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100%; }
  .banner-title h1 {
    position: relative;
    left: -5rem;
    font-size: 6rem;
    font-weight: 200; }

#footer-section {
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 15vh;
  min-height: 100px;
  background-color: #1e1f26; }

.footer-info {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%; }
  .footer-info .info-address {
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    display: flex;
    width: 45%;
    color: #ffffff; }
  .footer-info .info-logo {
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: flex;
    width: 10%;
    font-size: 2rem;
    font-weight: 500;
    color: #ffffff; }
  .footer-info .info-contact {
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    display: flex;
    width: 45%; }
    .footer-info .info-contact a {
      color: #ffffff;
      padding: 0 0.5rem;
      text-decoration: underline; }

.footer-copyright-social {
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  width: 90%; }
  .footer-copyright-social span {
    font-size: 0.8rem;
    color: #ffffff; }

.footer-social a {
  padding: 0 1rem; }
  .footer-social a i {
    color: #ffffff; }

.footer-top {
  border: 2px solid #ffffff;
  padding: 0.3rem 1.1rem;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 700; }

html {
  width: 100%;
  box-sizing: border-box;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth; }

a {
  text-decoration: none; }

/*# sourceMappingURL=about-us.css.map */
