#header-section {
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url(../images/bg-header.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  #header-section #navigation-section {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    display: flex;
    position: fixed;
    width: 100%;
    height: 4rem;
    z-index: 10; }
    #header-section #navigation-section a {
      padding: 0 2rem; }
      #header-section #navigation-section a h1 {
        color: #1e1f26;
        font-size: 3rem;
        font-weight: 500; }
    #header-section #navigation-section ul {
      justify-content: flex-start;
      align-items: stretch;
      flex-direction: row;
      display: flex; }
      #header-section #navigation-section ul a {
        padding: 0 2rem 0 0; }
        #header-section #navigation-section ul a li {
          color: #1e1f26;
          font-size: 1.25rem; }
  #header-section #banner-section {
    justify-content: flex-end;
    align-items: stretch;
    flex-direction: column;
    display: flex;
    width: 100%; }
    #header-section #banner-section .banner-title {
      justify-content: center;
      align-items: center;
      flex-direction: column;
      display: flex;
      width: 100%;
      height: 100%; }
      #header-section #banner-section .banner-title h1 {
        position: relative;
        right: 4rem;
        font-size: 6rem;
        font-weight: 500; }
      #header-section #banner-section .banner-title h2 {
        position: relative;
        right: -2rem;
        font-size: 1.1rem;
        color: #blackish; }
    #header-section #banner-section .social-icons {
      justify-content: center;
      align-items: stretch;
      flex-direction: row;
      display: flex; }
      #header-section #banner-section .social-icons a {
        padding: 0 1rem; }
        #header-section #banner-section .social-icons a i {
          color: #1e1f26; }
    #header-section #banner-section .next {
      justify-content: center;
      align-items: stretch;
      flex-direction: row;
      display: flex; }
      #header-section #banner-section .next a i {
        color: #1e1f26;
        height: 1rem;
        transition: transform 300ms linear; }
        #header-section #banner-section .next a i:hover {
          transform: scale(1.2); }

#hook-section {
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  width: 100%;
  height: 100vh; }
  #hook-section .hook-container {
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    display: flex;
    width: 85%; }
    #hook-section .hook-container .hook-story {
      justify-content: space-around;
      align-items: flex-start;
      flex-direction: column;
      display: flex;
      width: 60%;
      height: 65vh;
      border: 1px solid lightgray;
      position: relative;
      top: -3rem; }
      #hook-section .hook-container .hook-story h3 {
        font-size: 5rem;
        font-weight: 100;
        padding: 2rem 2rem 0 2rem; }
      #hook-section .hook-container .hook-story p {
        padding: 2rem;
        line-height: 1.5; }
      #hook-section .hook-container .hook-story a {
        padding: 1rem 2rem;
        margin: 0 0 0 2rem;
        background-color: #383a3e;
        color: #ffffff;
        font-weight: 500; }
    #hook-section .hook-container .hook-images {
      justify-content: flex-start;
      align-items: stretch;
      flex-direction: column;
      display: flex;
      width: 40%; }
      #hook-section .hook-container .hook-images .hook-img1 {
        position: relative;
        right: -2rem;
        height: 35vh;
        background-image: url(../images/hook1.jpg);
        background-size: cover; }
      #hook-section .hook-container .hook-images .hook-img2 {
        position: relative;
        top: 2rem;
        right: 7rem;
        height: 35vh;
        background-image: url(../images/hook2.jpg);
        background-size: cover; }

#parallax-section {
  width: 100%;
  height: 50vh;
  background-image: url(../images/middle-parallax.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center; }

#instagram-section {
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  width: 100%;
  height: 60vh; }
  #instagram-section .instagram-post {
    width: 20%; }
  #instagram-section .instagram-tekst {
    width: 40%; }

html {
  width: 100%;
  box-sizing: border-box;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth; }

a {
  text-decoration: none; }

/*# sourceMappingURL=main.css.map */
