#header-section {
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  width: 100%;
  height: 100vh;
  background-image: url(../images/bg-header-index.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

#navigation-section {
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  position: fixed;
  width: 100%;
  height: 4rem;
  z-index: 10;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
  transition: all 400ms ease; }

.navigation-container {
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  display: flex;
  width: 80%; }
  @media screen and (max-width: 1500px) {
    .navigation-container {
      width: 90%; } }
  @media screen and (max-width: 1300px) {
    .navigation-container {
      width: 100%; } }
  .navigation-container a {
    padding: 0 2rem; }
    .navigation-container a h1 {
      color: #1e1f26;
      font-size: 3rem;
      font-weight: 500;
      text-shadow: 4px 0 0 #ffffff; }
  .navigation-container ul {
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
    display: flex; }
    .navigation-container ul a {
      padding: 0 2rem 0 0; }
      .navigation-container ul a li {
        color: #1e1f26;
        font-size: 1.25rem; }

#banner-section {
  justify-content: flex-end;
  align-items: stretch;
  flex-direction: column;
  display: flex;
  width: 100%; }

.banner-title {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 100%; }
  .banner-title h1 {
    position: relative;
    right: 4rem;
    font-size: 6rem;
    font-weight: 500; }
  .banner-title h2 {
    position: relative;
    right: -2rem;
    font-size: 1.1rem;
    color: #blackish; }

.banner-social {
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  display: flex; }
  .banner-social a {
    padding: 0 1rem; }
    .banner-social a i {
      color: #1e1f26; }

.banner-next {
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  display: flex; }
  .banner-next a i {
    color: #1e1f26;
    height: 1rem;
    transition: transform 300ms linear; }
    .banner-next a i:hover {
      transform: scale(1.2); }

#hook-section {
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 750px; }

.hook-container {
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  display: flex;
  width: 85%;
  height: 100%; }

.hook-story {
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  width: 60%;
  height: 65%;
  border: 1px solid #d3d3d3;
  position: relative;
  top: -3rem; }
  .hook-story h3 {
    font-size: 5rem;
    font-weight: 100;
    padding: 2rem 2rem 0 2rem; }
  .hook-story p {
    padding: 2rem;
    line-height: 1.5; }
  .hook-story a {
    padding: 1rem 2rem;
    margin: 0 0 0 2rem;
    background-color: #383a3e;
    color: #ffffff;
    font-weight: 500; }

.hook-images {
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  display: flex;
  width: 40%;
  height: 100%; }
  .hook-images .hook-img1 {
    position: relative;
    right: -2rem;
    height: 35%;
    background-image: url(../images/hook1.jpg);
    background-size: cover; }
  .hook-images .hook-img2 {
    position: relative;
    top: 2rem;
    right: 7rem;
    height: 35%;
    background-image: url(../images/hook2.jpg);
    background-size: cover; }

.hook-next {
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  position: absolute;
  bottom: 0; }
  .hook-next a i {
    color: #1e1f26;
    height: 1rem;
    transition: transform 300ms linear; }
    .hook-next a i:hover {
      transform: scale(1.2); }

#parallax-section {
  justify-content: center;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: 40vh;
  background-image: url(../images/middle-parallax.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

#instagram-section {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  width: 100%;
  height: 60vh;
  min-height: 500px; }

.instagram-container {
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  display: flex;
  width: 95%;
  height: 75%; }

.instagram-posts {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  height: 110%; }
  .instagram-posts a {
    width: 20vh;
    height: 20vh;
    margin: 1rem; }

.instagram-img {
  width: 100%;
  height: 100%;
  border: 1px solid #ffffff;
  transition: transform 200ms ease; }
  .instagram-img:hover {
    transform: scale(1.6); }

.img1,
.img2,
.img3,
.img4,
.img5,
.img6 {
  background-image: url(../images/instagram-placeholder.jpg);
  background-size: cover; }

.instagram-tekst {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 40%;
  height: 100%;
  border: 1px solid #d3d3d3;
  text-align: center; }
  .instagram-tekst h3 {
    font-size: 5rem;
    font-weight: 100;
    padding: 0 0 1.5rem 0; }
  .instagram-tekst span {
    width: 90%;
    padding: 1.5rem 0 0 0;
    border-top: 1px solid #d3d3d3; }
    .instagram-tekst span a {
      color: #000000;
      font-weight: 600; }

#review-section {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 40vh;
  min-height: 300px;
  background-image: url(../images/bg-reviews.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden; }

.review-container {
  justify-content: center;
  align-items: center;
  flex-direction: row;
  display: flex;
  text-align: center;
  width: 70%;
  height: 75%;
  border: 1px solid #ffffff; }

.review-tekst {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
  padding: 2rem; }
  .review-tekst p {
    font-size: 2rem;
    font-weight: 300;
    color: #ffffff; }
  .review-tekst span {
    color: #ffffff;
    padding: 2rem 0 0 0;
    font-weight: 600; }

.rev1 {
  position: absolute;
  left: -100%; }

.rev2 {
  position: absolute;
  left: 15%; }

.rev3 {
  position: absolute;
  left: 100%; }

.review-controls {
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  position: absolute;
  bottom: 1rem; }

.rev-button {
  position: relative;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background-color: #ffffff;
  margin: 1rem 1rem 0 1rem;
  cursor: pointer; }

#footer-section {
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 100%;
  height: 15vh;
  min-height: 100px; }
  #footer-section h1 {
    color: #1e1f26;
    font-size: 2rem;
    font-weight: 500; }

.footer-copyright-social {
  justify-content: space-between;
  align-items: stretch;
  flex-direction: row;
  display: flex;
  width: 90%; }
  .footer-copyright-social span {
    font-size: 0.8rem;
    color: #1e1f26; }

.footer-social a {
  padding: 0 1rem; }
  .footer-social a i {
    color: #1e1f26; }

.footer-top {
  border: 2px solid #1e1f26;
  padding: 0.3rem 1.1rem;
  color: #1e1f26;
  font-size: 0.9rem;
  font-weight: 700; }

html {
  width: 100%;
  box-sizing: border-box;
  font-family: 'Raleway', Helvetica, Arial, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth; }

a {
  text-decoration: none; }

.inactive::before {
  content: '';
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: #383a3e; }

.active::before {
  content: '';
  position: absolute;
  top: 0.15rem;
  left: 0.15rem;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid lightgray; }

/*# sourceMappingURL=main.css.map */
