#footer-section {
  @include flex-box(space-around, center, column, flex);
  width: 100%;
  height: 15vh;
  min-height: 100px;
}

.footer-info {
  @include flex-box(center, center, row, flex);
  position: relative;
  width: 100%;

  .info-address {
    @include flex-box(flex-end, center, row, flex);
    width: 45%;
  }

  .info-logo {
    @include flex-box(center, center, row, flex);
    color: $blackish;
    font-size: 2rem;
    font-weight: 500;
    width: 10%;
  }

  .info-contact {
    @include flex-box(flex-start, center, row, flex);
    width: 45%;

    a {
      padding: 0 0.5rem;
      color: $blackish;
      text-decoration: underline;
    }
  }
}

.footer-copyright-social {
  @include flex-box(space-between, stretch, row, flex);
  width: 90%;

  span {
    font-size: 0.8rem;
    color: $blackish;
  }
}

.footer-social {

  a {
    padding: 0 1rem;

    i {
      color: $blackish;
    }
  }
}

.footer-top {
  border: 2px solid $blackish;
  padding: 0.3rem 1.1rem;
  color: $blackish;
  font-size: 0.9rem;
  font-weight: 700;
}
