#header-section {
  @include flex-box(center, stretch, row, flex);
  width: 100%;
  height: 100vh;
  @include parallax-bg(url(../images/bg-header-index.jpg));

  #navigation-section {
    @include flex-box(center, stretch, row, flex);
    position: fixed;
    width: 100%;
    height: 4rem;
    z-index: 10;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
    transition: all 400ms ease;

    .navigation-container {
      @include flex-box(space-between, center, row, flex);
      width: 80%;

      @media screen and (max-width: $breakpoint1) {
        width: 90%;
      }

      @media screen and (max-width: $breakpoint2) {
        width: 100%;
      }

      a {
        padding: 0 2rem;

        h1 {
          color: $blackish;
          font-size: 3rem;
          font-weight: 500;
          text-shadow: 4px 0 0 $white;
        }
      }

      ul {
        @include flex-box(flex-start, stretch, row, flex);

        a {
          padding: 0 2rem 0 0;

          li {
            color: $blackish;
            font-size: 1.25rem;
          }
        }
      }
    }
  }

  #banner-section {
    @include flex-box(flex-end, stretch, column, flex);
    width: 100%;

    .banner-title {
      @include flex-box(center, center, column, flex);
      width: 100%;
      height: 100%;

      h1 {
        position: relative;
        right: 4rem;
        font-size: 6rem;
        font-weight: 500;
      }

      h2 {
        position: relative;
        right: -2rem;
        font-size: 1.1rem;
        color: #blackish;
      }
    }

    .banner-social {
      @include flex-box(center, stretch, row, flex);

      a {
        padding: 0 1rem;

        i {
          color: $blackish;
        }
      }
    }

    .banner-next {
      @include flex-box(center, stretch, row, flex);

      a {

        i {
          color: $blackish;
          height: 1rem;
          transition: transform 300ms linear;

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
