#hook-section {
  @include flex-box(center, stretch, row, flex);
  position: relative;
  width: 100%;
  height: 100vh;
  min-height: 750px;

  @media screen and (max-width: $breakpoint3) {
    height: auto;
    min-height: 0;
  }
}

.hook-container {
  @include flex-box(flex-start, center, row, flex);
  width: 85%;
  height: 100%;

  @media screen and (max-width: $breakpoint3) {
    flex-direction: column;
    padding: 3rem 0;
    height: auto;
  }
}

.hook-story {
  @include flex-box(space-around, flex-start, column, flex);
  width: 60%;
  height: 65%;
  border: $border-lightgray;
  position: relative;
  top: -3rem;

  @media screen and (max-width: $breakpoint3) {
    position: static;
    top: auto;
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
  }

  @media screen and (max-width: $breakpoint4) {
    width: 80%;
  }

  h3 {
    font-size: 5rem;
    font-weight: 100;
    padding: 2rem 2rem 0 2rem;

    @media screen and (max-width: $breakpoint5) {
      font-size: 4rem;
    }

    @media screen and (max-width: $breakpoint7) {
      font-size: 3rem;
    }
  }

  p {
    padding: 2rem;
    line-height: 1.5;
  }

  a {
    padding: 1rem 2rem;
    margin: 0 0 0 2rem;
    background-color: $gray;
    color: $white;
    font-weight: 500;

    @media screen and (max-width: $breakpoint3) {
      margin: 2rem;
    }
  }
}

.hook-images {
  @include flex-box(center, stretch, column, flex);
  width: 40%;
  height: 100%;

  @media screen and (max-width: $breakpoint3) {
    display: none;
  }

  .hook-img1 {
    position: relative;
    right: -2rem;
    height: 35%;
    background-image: url(../images/hook1.jpg);
    background-size: cover;
  }

  .hook-img2 {
    position: relative;
    top: 2rem;
    right: 7rem;
    height: 35%;
    background-image: url(../images/hook2.jpg);
    background-size: cover;
  }
}

.hook-next {
  @include flex-box(center, stretch, row, flex);
  position: absolute;
  bottom: 0;

  @media screen and (max-width: $breakpoint3) {
    display: none;
  }

  a {

    i {
      color: $blackish;
      height: 1rem;
      transition: transform 300ms linear;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
