#instagram-section {
  @include flex-box(center, center, row, flex);
  width: 100%;
  height: 60vh;
  min-height: 500px;

  @media screen and (max-width: $breakpoint3) {
    height: auto;
  }
}

.instagram-container {
  @include flex-box(flex-start, center, row, flex);
  width: 95%;
  height: 75%;
}

.instagram-posts {
  @include flex-box(center, center, row, flex);
  flex-wrap: wrap;
  width: 60%;
  height: 110%;
}

.instagram-img {
  width: 20vh;
  height: 20vh;
  margin: 1rem;
  border: $border-white;
  transition: transform 200ms ease;
  cursor: pointer;

  img {
    display: none;
  }

  &:hover {
    transform: scale(1.2);

    @media screen and (max-width: $breakpoint3) {
      transform: scale(1);
    }
  }
}

// Different Images can be added per img class
.img1 {
  background-image: url(../images/instagram-img1.jpg);
  background-size: cover;
}

.img2 {
  background-image: url(../images/instagram-img2.jpg);
  background-size: cover;
}

.img3 {
  background-image: url(../images/instagram-img3.jpg);
  background-size: cover;
}

.img4 {
  background-image: url(../images/instagram-img4.jpg);
  background-size: cover;
}

.img5 {
  background-image: url(../images/instagram-img5.jpg);
  background-size: cover;
}

.img6 {
  background-image: url(../images/instagram-img6.jpg);
  background-size: cover;
}

.instagram-tekst {
  @include flex-box(center, center, column, flex);
  width: 40%;
  height: 100%;
  border: $border-lightgray;
  text-align: center;

  @media screen and (max-width: $breakpoint3) {
    height: auto;
  }

  h3 {
    font-size: 5rem;
    font-weight: 100;
    padding: 0 0 1.5rem 0;

    @media screen and (max-width: $breakpoint3) {
      font-size: 3.5rem;
      padding: 1.5rem 0 1.5rem 0;
    }
  }

  span {
    width: 90%;
    padding: 1.5rem 0 0 0;
    border-top: $border-lightgray;

    @media screen and (max-width: $breakpoint3) {
      padding: 1.5rem 0 1.5rem 0;
    }

    a {
      color: $black;
      font-weight: 600;
    }
  }
}
