#instagram-section {
  @include flex-box(center, center, row, flex);
  width: 100%;
  height: 60vh;
  min-height: 500px;
}

.instagram-container {
  @include flex-box(flex-start, center, row, flex);
  width: 95%;
  height: 75%;
}

.instagram-posts {
  @include flex-box(center, center, row, flex);
  flex-wrap: wrap;
  width: 60%;
  height: 110%;

  // a {
  //   width: 20vh;
  //   height: 20vh;
  //   margin: 1rem;
  // }
}

.instagram-img {
  width: 20vh;
  height: 20vh;
  margin: 1rem;
  // width: 100%;
  // height: 100%;
  border: $border-white;
  transition: transform 200ms ease;
  cursor: pointer;

  img {
    display: none;
  }

  &:hover {
    transform: scale(1.6);
  }
}

// Different Images can be added per img class
.img1 {
  background-image: url(../images/instagram-img1.jpg);
  background-size: cover;
}

.img2,
.img3,
.img4,
.img5,
.img6 {
  background-image: url(../images/instagram-img2.jpg);
  background-size: cover;
}

.instagram-tekst {
  @include flex-box(center, center, column, flex);
  width: 40%;
  height: 100%;
  border: $border-lightgray;
  text-align: center;

  h3 {
    font-size: 5rem;
    font-weight: 100;
    padding: 0 0 1.5rem 0;
  }

  span {
    width: 90%;
    padding: 1.5rem 0 0 0;
    border-top: $border-lightgray;

    a {
      color: $black;
      font-weight: 600;
    }
  }
}
