#modal-section {
  @include flex-box(center, center, column, none);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-close {
  position: absolute;
  top: -2rem;
  right: -2rem;
  cursor: pointer;
  color: $white;
}

.modal-content {
  position: relative;
  border: $border-white;
  width: 40vw;
  height: 40vw;

  @media only screen and (max-width: $breakpoint2) {
    width: 50vw;
    height: 50vw;
  }
}

.modal-caption {
  color: $white;
  padding: 1rem;
  text-align: center;

  a {
    color: $white;
    text-decoration: underline;
  }
}
