#parallax-section {
  @include flex-box(center, stretch, row, flex);
  position: relative;
  width: 100%;
  height: 40vh;
  background-image: url(../images/middle-parallax.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
