#content-section {
  @include flex-box(flex-start, stretch, column, flex);
  width: 100%;
}

.content-row {
  @include flex-box(flex-start, stretch, row, flex);
  width: 100%;

  @media screen and (max-width: $breakpoint2-5) {
    flex-direction: column;
    align-items: center;
  }
}

.bottom-border {
  border-bottom: $border-lightgray;
}

.content-img {
  background-image: url(../images/contact-img.jpg);
  background-size: cover;
  width: 50%;
  height: 70vh;
  min-height: 500px;

  @media screen and (max-width: $breakpoint2-5) {
    width: 100%;
    height: auto;
    min-height: 300px;
    background-attachment: fixed;
  }
}

.content-info {
  @include flex-box(center, center, column, flex);
  width: 50%;
  height: 70vh;
  min-height: 500px;

  @media screen and (max-width: $breakpoint2-5) {
    height: auto;
    width: 70%;
    border: $border-lightgray;
    margin: 3rem 0 1.5rem 0;
    min-height: auto;
  }

  @media screen and (max-width: $breakpoint-menu) {
    width: 80%;
  }

  span {
    font-size: 1.75rem;
    color: $blackish;
    width: 70%;
    padding: 1rem 0;

    @media screen and (max-width: $breakpoint2-5) {
      padding: 2rem 0 1rem 0;
    }
  }

  p {
    color: $gray;
    line-height: 1.5;
    width: 70%;
    padding: 1rem 0;

    a {
      color: $gray;
    }
  }

  p:last-child {
    @media screen and (max-width: $breakpoint2-5) {
      padding: 1rem 0 2rem 0;
    }
  }
}

.content-social {
  @include flex-box(flex-start, center, column, flex);
  width: 25%;
  height: 70vh;
  min-height: 500px;

  @media screen and (max-width: $breakpoint2-5) {
    height: auto;
    min-height: auto;
    width: 70%;
    border: $border-lightgray;
    margin: 1.5rem 0;
  }

  @media screen and (max-width: $breakpoint-menu) {
    width: 80%;
  }

  span {
    font-size: 1.75rem;
    color: $blackish;
    width: 70%;
    padding: 5rem 0 0 0;

    @media screen and (max-width: $breakpoint2-5) {
      padding: 2rem 0 1rem 0;
    }
  }

  p {
    color: $gray;
    line-height: 1.5;
    width: 70%;
    padding: 1rem 0;
  }
}

.content-icons {
  @include flex-box(space-around, stretch, row, flex);
  width: 70%;
  padding: 3rem 0;

  @media screen and (max-width: $breakpoint2-5) {
    padding: 2rem 0;
  }

  a {
    i {
      color: $blackish;
    }
  }
}

.content-hours {
  @include flex-box(flex-start, center, column, flex);
  width: 25%;
  height: 70vh;
  min-height: 500px;

  @media screen and (max-width: $breakpoint2-5) {
    height: auto;
    min-height: auto;
    width: 70%;
    border: $border-lightgray;
    margin: 1.5rem 0;
  }

  @media screen and (max-width: $breakpoint-menu) {
    width: 80%;
  }

  span {
    font-size: 1.75rem;
    color: $blackish;
    padding: 5rem 0 0 0;

    @media screen and (max-width: $breakpoint2-5) {
      padding: 2rem 0 1rem 0;
    }
  }

  p {
    color: $gray;
    line-height: 1.5;
    padding: 0 0.4rem;
  }

  p:last-child {
    @media screen and (max-width: $breakpoint2-5) {
      padding: 0 0.4rem 2rem 0.4rem;
    }
  }
}

.timetable {
  @include flex-box(center, center, row, flex);

  .timetable-row {
    padding: 1rem 0 0 0;
  }
}

.content-map {
  width: 50%;
  height: 70vh;
  min-height: 500px;

  @media screen and (max-width: $breakpoint2-5) {
    width: 100%;
    height: 500px;
    min-height: 500px;
    padding: 1rem 0 0 0;
  }
}
