#content-section {
  @include flex-box(flex-start, stretch, column, flex);
  width: 100%;
}

.content-row {
  @include flex-box(flex-start, stretch, row, flex);
  width: 100%;
}

.bottom-border {
  border-bottom: $border-lightgray;
}

.content-img {
  background-image: url(../images/contact-img.jpg);
  background-size: cover;
  width: 50%;
  height: 70vh;
  min-height: 500px;
}

.content-info {
  @include flex-box(center, center, column, flex);
  width: 50%;
  height: 70vh;
  min-height: 500px;

  span {
    font-size: 1.75rem;
    color: $blackish;
    width: 70%;
    padding: 1rem 0;
  }

  p {
    color: $gray;
    line-height: 1.5;
    width: 70%;
    padding: 1rem 0;

    a {
      color: $gray;
    }
  }
}

.content-social {
  @include flex-box(flex-start, center, column, flex);
  width: 25%;
  height: 70vh;
  min-height: 500px;

  span {
    font-size: 1.75rem;
    color: $blackish;
    width: 70%;
    padding: 5rem 0 0 0;
  }

  p {
    color: $gray;
    line-height: 1.5;
    width: 70%;
    padding: 1rem 0;
  }
}

.content-icons {
  @include flex-box(space-around, stretch, row, flex);
  width: 70%;
  padding: 3rem 0;

  a {
    i {
      color: $blackish;
    }
  }
}

.content-hours {
  @include flex-box(flex-start, center, column, flex);
  width: 25%;
  height: 70vh;
  min-height: 500px;

  span {
    font-size: 1.75rem;
    color: $blackish;
    padding: 5rem 0 0 0;
  }

  p {
    color: $gray;
    line-height: 1.5;
    padding: 0 0.4rem;
  }
}

.timetable {
  @include flex-box(center, center, row, flex);

  .timetable-row {
    padding: 1rem 0 0 0;
  }
}

.content-map {
  width: 50%;
  height: 70vh;
  min-height: 500px;
}
