#header-section {
  @include flex-box(center, stretch, row, flex);
  width: 100%;
  height: 40vh;
  min-height: 300px;
  background-color: $light-creme;
}

#navigation-section {
  @include flex-box(center, stretch, row, flex);
  position: fixed;
  backface-visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  z-index: 10;
  border-bottom: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
  transition: all 400ms ease;
}

.navigation-container {
  @include flex-box(space-between, center, row, flex);
  width: 80%;

  @media screen and (max-width: $breakpoint1) {
    width: 90%;
  }

  @media screen and (max-width: $breakpoint2) {
    width: 100%;
  }

  a {
    padding: 0 2rem;

    h1 {
      color: $blackish;
      font-size: 3rem;
      font-weight: 500;
      text-shadow: 4px 0 0 $white;

    }
  }

  ul {
    @include flex-box(flex-start, stretch, row, flex);

    @media screen and (max-width: $breakpoint-menu) {
      position: absolute;
      flex-direction: column;
      align-items: center;
      width: 100%;
      opacity: 0;
      top: 4rem;
      background-color: $white;
      border-top: $border-lightgray;
      border-bottom: $border-lightgray;
    }

    a {
      padding: 0 2rem 0 0;

      @media screen and (max-width: $breakpoint-menu) {
        padding: 0.5rem 0;
      }

      li {
        color: $blackish;
        font-size: 1.25rem;
      }
    }
  }

  i {
    display: none;
    cursor: pointer;

    @media screen and (max-width: $breakpoint-menu) {
      display: block;
      margin: 0 2rem 0 0;
    }
  }
}

#banner-section {
  @include flex-box(flex-end, stretch, column, flex);
  width: 100%;
}

.banner-title {
  @include flex-box(center, center, column, flex);
  width: 100%;
  height: 100%;

  h1 {
    font-size: 6rem;
    font-weight: 200;

    @media screen and (max-width: $breakpoint-banner-title) {
      font-size: 3.5rem;
    }
  }
}
