#story-section {
  @include flex-box(center, stretch, row, flex);
  position: relative;
  width: 100%;
}

.story-container {
  @include flex-box(flex-start, center, row, flex);
  width: 85%;
  padding: 5rem 0 3rem 0;

  @media screen and (max-width: $breakpoint3) {
    justify-content: center;
    padding: 5rem 0 5rem 0;
  }
}

.story-content {
  @include flex-box(flex-start, stretch, column, flex);
  width: 60%;
  border: $border-lightgray;
  position: relative;

  @media screen and (max-width: $breakpoint3) {
    width: 80%;
  }

  @media screen and (max-width: $breakpoint4) {
    width: 90%;
  }

  h3 {
    font-size: 5rem;
    font-weight: 100;
    padding: 7rem 2rem 7rem 1rem;

    span {
      font-weight: 500;
    }
  }

  p {
    padding: 2rem;
    line-height: 1.5;
  }
}

.story-images {
  @include flex-box(flex-start, stretch, column, flex);
  width: 40%;
  height: 100%;

  @media screen and (max-width: $breakpoint3) {
    display: none;
  }

  .story-img1 {
    position: relative;
    height: 100%;
    background-image: url(../images/contact-img.jpg);
    background-size: cover;
    overflow: visible;
  }
}
